.active {
  color: #AECB4F !important;
}
.join {
  color: #8560A9 !important;
}
.sel {
  padding-left: .21rem !important;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.content {
  width: 100%;
  flex: 1;
  overflow: auto;
}
.top {
  height: 1.61rem;
  width: 100%;
}
.top .channel {
  color: #8560A9;
  height: .22rem;
  display: table;
  box-sizing: border-box;
  padding: .02rem .08rem .03rem .08rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  border: .01rem solid #D3C1E5;
  border-radius: .1rem;
  margin: .16rem 0 0 .16rem;
}
.top .title {
  font-family: 'SourceSansPro-Semibold';
  font-size: .2rem;
  color: #453257;
  margin: .12rem .16rem 0;
}
.top .desc {
  padding: .24rem .16rem .24rem .16rem;
  display: flex;
  height: .37rem;
}
.desc .left {
  width: .36rem;
  height: .36rem;
  border-radius: 50%;
}
.desc .right {
  margin-left: .12rem;
}
.desc .right p:first-child {
  width: .61rem;
  height: .18rem;
  line-height: .18rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .14rem;
  color: #67616D;
}
.desc .right p:last-child {
  height: .15rem;
  line-height: .15rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  color: #BABABA;
  margin-top: .04rem;
}
.content .tabList {
  width: 100%;
  height: .45rem;
  border-top: .01rem solid #e8e8e8;
  border-bottom: .02rem solid #E8E8E8;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 11;
}
.tabList ul {
  height: .45rem;
  line-height: .45rem;
  display: flex;
  align-items: center;
}
.tabList ul li {
  height: .45rem;
  display: flex;
  position: relative;
}
.tabList li img {
  width: .2rem;
  height: .2rem;
}
.tabList ul li:first-child {
  width: .97rem;
}
.tabList ul li:nth-child(2) {
  width: 1.16rem;
  margin-left: .01rem;
}
.tabList ul li:last-child {
  flex: 1;
  margin-left: .01rem;
}
.tabList ul li:first-child img {
  padding: .12rem 0 0 .2rem;
}
.tabList ul li:first-child span {
  padding-left: .06rem;
}
.tabList ul li:nth-child(2) img {
  padding: .12rem 0 0 .14rem;
}
.tabList ul li:nth-child(2) span {
  padding-left: .08rem;
}
.tabList ul li:last-child img {
  padding: .12rem 0 0 .1rem;
}
.tabList ul li:last-child span {
  padding-left: .06rem;
}
.tabList ul li:first-child::after, .tabList ul li:nth-child(2)::after {
  content: "";
  display: block;
  width: .01rem;
  height: .112rem;
  background: #E8E8E8;
  position: absolute;
  top: .164rem;
  right: -.01rem;
}
li span {
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  color: #8C8C8C;
}
.tabEvents {
  width: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.tabEvents .wrapper ul {
  width: 3.47rem;
  height: 1rem;
  line-height: .45rem;
  display: flex;
  align-items: center;
}
.tabEvents .wrapper ul li {
  float: left;
  width: 1rem;
  height: 1rem;
  margin-left: .12rem;
}
.tabEvents .wrapper ul li:first-child {
  margin-left: 0;
}
.tabEvents .wrapper ul li img {
  width: 1rem;
  height: 1rem;
}
.tabEvents .wrapper ul li:nth-child(2) {
  width: 1.55rem;
  height: 1rem;
  margin-left: .12rem;
}
.tabEvents .wrapper {
  margin: .16rem 0 0 .16rem;
  height: 1rem;
  overflow-y: scroll;
}
.wrapper ul li:first-child img, .wrapper ul li:last-child img {
  padding: 0;
  border-radius: .1rem;
}
.information {
  margin: .12rem .16rem 0 .16rem;
  height: 1.8rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .14rem;
  color: #67616D;
  position: relative;
}
.information .dimMask {
  width: 2.88rem;
  height: .57rem;
  position: absolute;
  top: 1.27rem;
  background: linear-gradient(to bottom, rgba(250, 249, 252, 0), rgba(250, 249, 252, 0.7), rgba(250, 249, 252, 1));
}
.viewAll {
  border: none;
  outline: none;
  font-family: 'SourceSansPro-Semibold';
  font-size: .1rem;
  color: #67616D;
  padding: .05rem .13rem;
  background-color: #D5EF7F;
  border-radius: .12rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.planTime {
  margin-top: .225rem;
  margin-left: .16rem;
  border-top: .01rem solid #E8E8E8;
  width: 3.04rem;
}
.allTime {
  width: 3.04rem;
  height: .905rem;
  margin-top: .1rem;
  display: flex;
}
.specificTime, .specificPlace {
  font-family: 'SourceSansPro-Semibold';
  font-size: .16rem;
  color: #8560A9;
  padding-top: .165rem;
  width: 1.03rem;
  height: .2rem;
  position: relative;
  padding-left: .08rem;
}
.specificTime::before, .specificPlace::before {
  content: "";
  display: block;
  width: .04rem;
  height: .18rem;
  background: #8560A9;
  position: absolute;
  left: 0;
  border-radius: .02rem;
}
.allTime .allLeft {
  width: 1.425rem;
  height: .905rem;
  position: relative;
}
.allTime .allLeft::after {
  content: "";
  display: block;
  width: .02rem;
  height: .74rem;
  background: #E8E8E8;
  position: absolute;
  top: 0;
  right: -.02rem;
}
.allTime .allLeft img {
  position: absolute;
  top: .11rem;
  left: .17rem;
  width: .16rem;
  height: .138rem;
}
.allTime .allLeft > span:nth-child(2) {
  position: absolute;
  top: .06rem;
  right: .195rem; 
  font-family: 'SourceSansPro-Regular';
  font-size: .16rem;
  color: #67616D;
}
.allTime .allLeft > span:nth-child(3) {
  position: absolute;
  right: .265rem;
  bottom: .185rem;
  display: block;
  width: .79rem;
  height: .4rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .32rem;
  color: #AECB4F;
  line-height: .4rem;
}
.allTime .allLeft > span:nth-child(3) > span {
  font-size: .1rem;
}
.allTime .allRight {
  width: 1.595rem;
  height: .905rem;
  margin-left: .02rem;
  position: relative;
}
.allTime .allRight > img {
  width: .16rem;
  height: .138rem;
  position: absolute;
  top: .11rem;
  left: .155rem;
}
.allTime .allRight > span:nth-child(2) {
  position: absolute;
  top: .06rem;
  right: .38rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .16rem;
  color: #67616D;
}
.planPlace {
  border-top: .01rem solid #E8E8E8;
  width: 3.04rem;
  margin-left: .16rem;
}
.planPlace > .placeMes {
  margin-top: .08rem;
  font-family: 'SourceSansPro-Semibold';
  font-size: .14rem;
  color: #67616D;
}
.planPlace > .placeMes > p {
  font-family: 'SourceSansPro-Regular';
  font-size: .14rem;
  color: #67616D;
}
.planPlace .map {
  margin: .08rem .16rem .16rem 0;
  width: 2.88rem;
  height: .88rem;
  background: url('../../static/imgs/gmap.png') no-repeat;
  background-size: 100% 100%;
  border-radius: .1rem;
}
.statistical {
  width: 100vw;
  border-top: .01rem solid #E8E8E8;
  border-bottom: .01rem solid #E8E8E8;
}
.statistical .goLikeWrapper {
  margin-left: .16rem;
}
.statistical .goLikeWrapper .wrapperTop {
  width: 100%;
  border-bottom: .01rem solid #E8E8E8;
}
.statistical .goLikeWrapper .wrapperBottom {
  width: 100%;
}
.wrapperTopLeft, .wrapperTopRight {
  float: left;
}
.wrapperTopLeft, .wrapperBottomLeft {
  display: flex;
}
.wrapperBottomLeft, .wrapperBottomRight {
  float: left;
}
.wrapperTopLeft img {
  width: .12rem;
  height: .098rem;
  margin-top: .32rem;
}
.wrapperTopLeft span {
  color: #67616D;
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  margin-left: .05rem;
  margin-top: .29rem;
  display: inline-block;
  width: .43rem;
}
.wrapperBottomLeft img {
  width: .1rem;
  height: .092rem;
  margin-top: .21rem;
}
.wrapperBottomLeft span {
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  color: #67616D;
  margin-left: .06rem;
  margin-top: .175rem;
  width: .43rem;
  display: inline-block;
}
.wrapperTopRight {
  padding-left: .17rem;
  padding-right: .16rem;
  width: 2.11rem;
  margin: .24rem 0;
}
.wrapperTopRight ul {
  width: 2.11rem;
  display: flex;
  flex-wrap: wrap;
}
.wrapperTopRight ul li {
  width: .24rem;
  height: .24rem;
  border-radius: 50%;
  margin-left: .07rem;
  overflow: hidden;
  position: relative;
}
.wrapperTopRight ul li img {
  width: .24rem;
  height: .24rem;
  position: absolute;
}
.wrapperTopRight ul li:nth-child(7n + 1) {
  margin-left: 0;
}
.wrapperTopRight ul li:nth-child(7)~li {
  margin-top: .12rem;
}
.wrapperTopRight ul li:last-child {
  margin-left: .08rem;
}
.wrapperBottomRight {
  padding-left: .17rem;
  padding-right: .17rem;
  width: 2.1rem;
  margin: .125rem 0;
}
.wrapperBottomRight ul {
  width: 2.1rem;
  display: flex;
  flex-wrap: wrap;
}
.wrapperBottomRight ul li {
  position: relative;
  width: .24rem;
  height: .24rem;
  border-radius: 50%;
  margin-left: .07rem;
  overflow: hidden;
}
.wrapperBottomRight ul li img {
  position: absolute;
  width: .24rem;
  height: .24rem;
}
.wrapperBottomRight ul li:nth-child(7n + 1) {
  margin-left: 0;
}
.wrapperBottomRight ul li:nth-child(7)~li {
  margin-top: .12rem;
}
.wrapperBottomRight ul li:nth-child(4), .wrapperBottomRight ul li:nth-child(7) {
  height: .239rem;
}
.commentsSection {
  margin: .24rem .16rem 0 .16rem;
  width: 2.88rem;
}
.commentsSection .commentAll {
  display: flex;
  width: 100%;
}
.commentAll .commentAvator {
  width: .32rem;
  height: .32rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.commentAll .commentAvator img {
  width: .32rem;
  height: .32rem;
  position: absolute;
}
.commentAll .main {
  margin-left: .12rem;
  flex: 1;
}
.main .userInfo {
  width: 100%;
  display: flex;
  position: relative;
}
.main .userInfo .username {
  font-family: 'SourceSansPro-Regular';
  font-size: .12rem;
  color: #8560A9;
}
.main .userInfo .replyTime {
  margin: .02rem 0 0 .12rem;
  font-family: 'SourceSansPro-Regular';
  font-size: .1rem;
  color: #BABABA;
}
.main .userInfo img {
  width: .16rem;
  height: .13rem;
  position: absolute;
  right: 0;
  top: .01rem;
}
.commentContent {
  margin-top: .04rem;
  width: 100%;
  font-family: 'SourceSansPro-Regular';
  font-size: .14rem;
  color: #67616D;
  margin-bottom: .16rem;
}
.commentContent:last-child {
  margin-bottom: .15rem;
}

/* 底部按钮 */
footer {
  width: 100vw;
  height: .56rem;
  display: flex;
  align-items: center;
}
footer .footLeft {
  width: 1.8rem;
  height: .56rem;
  background: #8560A9;
  display: flex;
  align-items: center;
}
footer .footLeft img:first-child {
  width: .232rem;
  height: .234rem;
  padding-left: .42rem;
}
footer .footLeft img:last-child {
  width: .24rem;
  height: .24rem;
  padding-left: .488rem;
}
footer .footRight {
  width: 1.4rem;
  height: .56rem;
  display: flex;
  align-items: center;
  background: #D5EF7F;
}
footer .footRight img {
  width: .24rem;
  height: .24rem;
  padding-left: .39rem;
}
footer .footRight span {
  font-family: 'SourceSansPro-Semibold';
  font-size: .14rem;
  color: #788C36;
  padding-left: .12rem;
}
/* .outPoll {
  box-sizing: border-box;
  border: .01rem solid #AC8EC9;
  border-radius: 50%;
  position: relative;
}
.outPoll .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .07rem;
  height: .07rem;
  border-right: .01rem solid #AC8EC9;
  border-bottom: .01rem solid #AC8EC9;
  transform: rotate(45deg);
  transform-origin: center;
} */